<div class="blogpost-container">
  <section class="blogpost">
    <div class="blogpost-header">
      <h2>
        <p>{{title}}</p>
      </h2>
      <p>Created by {{user.name}} on {{format_date date_created}}</p>
    </div>
    <div class="blogpost-content">
      <p>{{content}}</p>
    </div>
  </section>
  
  <section class="new-comment-wrapper">
    <div class="new-comment">
      <div class="form-group">
        <label for="leave-comment"></label>
        <input class="form-input" type="text" id="leave-comment" placeholder="Let {{user.name}} know what you think"/>
      </div>
      <button class="btn btn-primary" id="submit-comment">Submit</button>
    </div>
  </section>

</div>
