<section class="dashboard-container">
    <h2>Welcome, {{name}}</h2>
    <section class="dashboard-controls">
        <a href="./dashboard/create" id="create">Create a new post</a>
    </section>
    <section class="my-posts">
        {{#if blogposts.length }}
        {{#each blogposts as |blogPost| }}
        <div class="blogpost">
            <div class="blogpost-header">
                <h2>
                    <a href="./dashboard/edit/{{blogPost.id}}">{{blogPost.title}}</a>
                </h2>
                <p>Created on {{format_date blogPost.date_created}}</p>
            </div>
            <div class="blogpost-content">
                <p>{{blogPost.content}}</p>
            </div>
        </div>
        {{/each}}
        {{/if}}
    </section>
</section>