<div class="edit-container">
    <section class="edit-controls">
        <button class="btn btn-primary" type="submit" id="update-btn">Update</button>
        <button class="btn btn-primary" type="submit" id="delete-btn">Delete</button>
    </section>
    <section class="blogpost">
        <div class="blogpost-header">
            <h2>
            <p>{{title}}</p>
            </h2>
            <p>Created by {{user.name}} on {{format_date date_created}}</p>
        </div>
        <div class="blogpost-content">
            <p>{{content}}</p>
        </div>
    </section>

    {{#if comments.length}}
    {{#each comments as |comment| }}
    <section class="comment">
        <div class="comment-header">
        <h2>{{comment.user.name}}</h2>
        <p>{{format_date comment.date_created}}</p>
        </div>
        <div class="comment-content">
        <p>{{comment.content}}</p>
        </div>
    </section>
    {{/each}}
    {{/if}}
</div>

<script src="/js/edit.js"></script>